nav {
  background-color: #3d3d3d;
  padding: 1.5em;
  margin-bottom: 1em;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
  align-items: center;

}

nav ul li {
  display: inline;

}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(0, 255, 157);
}

#panda{
  width: 60px;
}